/* -------------------------------- 

xColors

-------------------------------- */
/*I changed some of the colors around, but I can't actually SEE what I'm doing.
PLEASE change them if they don't contrast correctly or you think they don't
look like what we talked about!!! 
-Abi
*/



// color palette - these colors will be the color swatches of the Colors section
$color-1: #000000; // black
$color-2: #082d52; // Dark Blue
$color-3: #b13df5; // pale purple
$color-4: #ffffff; // white
$color-5: #ffec70; // light yellow


// additional colors

$success: #13cc19; // green
$alert: #c70021; // red

body {
    /* this is the page background */
    background-color: $color-5; 
    background: linear-gradient(0deg, $color-5 0%, $color-3 33%, $color-2 66%, $color-1 100%);
    //if the gradient doesn't go top-dark to bottom-light, just swap the colors 5-1, 3-2
  }

  header {
    background-color: $color-2;
  }

/* -------------------------------- 

xPatterns 

-------------------------------- */

  .cd-logo {
    /* logo box style */
    background-color: $color-1;
  }

  .cd-box {
    /* this is the container of various design elements - i.e. the 2 logo of the branding section */
    border: 1px solid $color-4;
    background: $color-2;
    box-shadow: 0 1px 1px $color-4;
    color: $color-5;
  }
  
  span {
    /* tooltip */
    background: $color-2;
    color: $color-4;

    &::before {
      /* right arrow color */
      border-color: $color-4;
    }
  }

  //the dark paragraphs with glowing borders and white text we talked about
  p {
    color: $color-5;
    background-color: opacify($color-2, 0.80); //I've never actually used opacify before, let me know if it doesn't work
    box-shadow: 0px 0px 10px $color-4; 
  }

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
    color: $color-4;
  
    @include MQ(L) {
      /* title goes into the header on big devices */
      color: $color-4;
    }
  }

  h1,
h2 {
  
  color: $color-4;
}




section > h2::before {
    /* number before each section title */
    color: darken($color-4, 15%);
  }
  
p {
  color: lighten($color-4, 25%);
    a {
      color: $color-3;
    }
  }




/* -------------------------------- 

xButtons 

-------------------------------- */

.btn {
    color: $color-5;
    background: $color-1;

    .no-touch &:hover {
      background: lighten($color-1, 5%);
    }
  
    &.btn-success {
      background: $success;
  
      .no-touch &:hover {
        background: lighten($success, 5%);
      }
    }
  
    &.btn-alert {
      background: $alert;
  
      .no-touch &:hover {
        background: lighten($alert, 5%);
      }
    }
  
    &.btn-outline {
      color: $color-1;
      background: transparent;
      box-shadow: inset 0 0 0 1px $color-1;
  
      .no-touch &:hover {
        color: $color-5;
        background: $color-1;
      }
    }
  
  
  }
  
  .cd-buttons .cd-box:nth-of-type(2) span {
    /* CSS class name color */
    color: $color-5;
  }

  
  