/* -------------------------------- 

xNavigation 

-------------------------------- */
/*I changed some of the colors around, but I can't actually SEE what I'm doing.
PLEASE change them if they don't contrast correctly or you think they don't
look like what we talked about!!! 
-Abi
*/

.cd-nav-trigger span {
    /* hamburger menu */
    background-color: $color-2;

    &::before,
    &::after {
        /* upper and lower lines */
        background-color: $color-3;
    }
}

.nav-is-visible .cd-nav-trigger span {
    /* hide line in the center on mobile when nav is visible */
    background-color: rgba($color-2, 0);

    &::before,
    &::after {
        /* preserve visibility of upper and lower lines - close icon */
        background-color: rgba($color-5, 1);
    }
}

.cd-download {
    /* download button top-right visible on big devices */
    background-color: lighten($color-2, 10%);

    .no-touch &:hover {
        background-color: lighten($color-2, 15%);
    }
}

.cd-main-nav {
    /* main navigation background color - full screen on small devices */
    background: $color-2;

    li a {
        color: $color-3;
        border-color: lighten($color-2, 5%);
    }

    @include MQ(M) {
        li a {
            color: lighten($color-3, 40%);

            &.selected {
                color: $color-4;
                box-shadow: 0 2px 0 $color-1;
            }

            &:hover {
                color: $color-5;
            }
        }
    }
}