// fonts
$primary-font: 'EB Garamond',
serif; //this is the body font. Want it to be serif or sans-serif? I tend to prefer sans-serif.
$secondary-font: 'Arsenal',
sans-serif; //this is the headline font. It needs to contrast well with the primary font.

/* -------------------------------- 

xBackground 

-------------------------------- */
h1,
h2 {
    font-family: $secondary-font;
}

h1 {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.5;

    @include MQ(S) {
        font-size: 3.2rem;
    }

    @include MQ(M) {
        font-size: 4rem;
    }
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;

    @include MQ(S) {
        font-size: 1.8rem;
        margin: 1em 0 1.4em;
    }
}

p {
    font-size: 1.4rem;
    line-height: 1.3;
}

@include MQ(S) {
    font-size: 1.6rem;
    line-height: 1.6;
}

.btn {
    font: {
        size: 1.4rem;
        family: $secondary-font;
    }
}

@include MQ(S) {
    font-size: 1.6rem;
}