// created by Abi Talor and Dave Zeller
@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries
@import 'partials/typography';
@import 'partials/color';
@import 'partials/nav';


/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border-radius: 3px;
  padding: 6px;
}



.cd-logo {
  /* logo box style */
  width: 120px;

  @include MQ(M) {
    width: 180px;
  }
}





/* -------------------------------- 

xButtons 

-------------------------------- */

.btn {
  border: none;
  box-shadow: none;
  border-radius: 0.25em;

  padding: 0.6em 2.2em;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}



@import 'partials/basic-style';
